{% extends "Super.html" %}

{% block content %}
    <h2>Cloud Provider Information</h2>
    <form action="/CloudProviderDataListing">
      <div class="form-group row">
        <label for="searchData" class="col-sm-2 col-form-label">Cloud Provider Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="searchData" name="searchData" placeholder="" value="{{ searchData }}" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 text-center">
          <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
      </div>
    </form>
<div class="text-left m-5"><a href="/CloudProviderDataOperation?operation=Create" class="btn btn-outline-info btn-sm ">Create</a></div>
    <table class="table table-bordered table-striped">
  <thead>
    <tr>
      
      <th scope="col">Cloud Provider Name</th>
      <th scope="col">Storage Capacity in GB</th>
      <th scope="col">Usage Cost / GB</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for row in records %}
        <tr>
            <td>{{ row.cloudProviderName }}</td>
            <td>{{ row.storageSpace }}</td>
            <td>{{ row.usageCostPerGB }}</td>
            <td>
                <a href="/CloudProviderDataOperation?operation=Edit&unqid={{row.cloudProviderID}}" class="btn btn-outline-info btn-sm ">Edit</a>
                <a href="/CloudProviderDataOperation?operation=Delete&unqid={{row.cloudProviderID}}" class="btn btn-outline-warning btn-sm ">Delete</a>
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
<div class="text-center"><a href="/CloudProviderDataOperation?operation=Create" class="btn btn-outline-info btn-sm ">Create</a></div>
{% endblock %}